trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: JavaToolInstaller@0
  inputs:
    versionSpec: '17'
    jdkArchitectureOption: 'x64'
    jdkSourceOption: 'PreInstalled'
  displayName: 'Setup Java 17'

- script: |
    echo "Java Version:"
    java -version
    echo "Javac Version:"
    javac -version
  displayName: 'Verify Java Installation'

- script: |
    echo "Compiling Java files from src directory..."
    cd src
    javac *.java
    echo "Compilation completed successfully"
  displayName: 'Compile Java Files'

- script: |
    echo "Running Java application..."
    cd src
    java Main
  displayName: 'Run Java Application'

- script: |
    echo "Creating JAR file..."
    echo "Main-Class: Main" > manifest.txt
    cd src
    jar cfm ../myapp.jar ../manifest.txt *.class
    cd ..
    echo "JAR file created: myapp.jar"
  displayName: 'Create Executable JAR'

- script: |
    echo "Testing JAR file execution..."
    java -jar myapp.jar
  displayName: 'Test JAR Execution'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: 'myapp.jar'
    ArtifactName: 'java-app'
    publishLocation: 'Container'
  displayName: 'Publish JAR Artifact'

- script: |
    echo "Cleaning up temporary files..."
    rm -f manifest.txt
    cd src
    rm -f *.class
    cd ..
    echo "Cleanup completed"
  displayName: 'Cleanup Temporary Files'
  condition: always()